<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link href="../styles.css" rel="stylesheet"/>
    <link href="../static/styles.css" rel="stylesheet"/>

    <title>Ticket</title>

</head>

<body>

<div class="container">

    <div class="sidebar">
        <div class="sidebar-member workspace-label"><span class="sidebar-member-icon">📚</span>Workspace Name</div>
        <div class="sidebar-member"><a href="#"><span class="sidebar-member-icon">🚨</span><span
                class="sidebar-member-label">Support Pool</span></a></div>
        <div class="sidebar-member" th:if="${#authorization.expression('hasAuthority(''VIEW_ADMIN'')')}"><a
                href="#"><span class="sidebar-member-icon">🤝</span><span
                class="sidebar-member-label">Team</span></a></div>
        <div class="sidebar-member"><a href="#"><span class="sidebar-member-icon">🔑</span><span
                class="sidebar-member-label">Login</span></a></div>
        <div class="sidebar-user-label">
            <div class="sidebar-member"><span class="sidebar-member-icon">👋</span><span
                    class="sidebar-member-label">Hi, User Name</span></div>
        </div>
    </div>

    <div class="frame">

        <div class="sub-container">

            <div class="sub-container-title">🎫 Ticket <span id="ticketId"></span></div>

            <div class="properties-holder">

                <div class="property">
                    <div class="property-name"><span class="property-icon">🔖</span>Title</div>
                    <div id="title" contenteditable="true" spellcheck="false"
                         class="property-value text-property"></div>
                </div>

                <div class="property">
                    <div class="property-name"><span class="property-icon">⚖</span>State</div>
                    <div class="property-value select-property">
                        <select id="state">
                            <option value="NEW">New</option>
                            <option value="OPEN">Open</option>
                            <option value="DONE">Done</option>
                            <option value="SOLVED">Solved</option>
                        </select>
                    </div>
                </div>

                <div class="property">
                    <div class="property-name"><span class="property-icon">📌</span>Priority</div>
                    <div class="property-value select-property">
                        <select id="priority">
                            <option value="HIGH">High</option>
                            <option value="NORMAL">Normal</option>
                            <option value="LOW">Low</option>
                        </select>
                    </div>
                </div>

                <div class="property">
                    <div class="property-name"><span class="property-icon">🔗</span>Firm</div>
                    <div id="firm" contenteditable="true" spellcheck="false" class="property-value text-property"></div>
                </div>

                <div class="property">
                    <div class="property-name"><span class="property-icon">📮</span>Case</div>
                    <div class="property-value select-property">
                        <select id="case">
                            <option value="BUG">Bug</option>
                            <option value="QUESTION">Question</option>
                            <option value="FEATURE">Feature</option>
                            <option value="CALL">Call</option>
                        </select>
                    </div>
                </div>

                <div class="property">
                    <div class="property-name"><span class="property-icon">📆</span>Creation Date</div>
                    <div id="date" class="property-value"></div>
                </div>

            </div>

            <div class="ticket-content-holder">
                <span spellcheck="false" contenteditable="true" id="body-text" class="highlight">Paste description</span>
            </div>
            <button style="margin-top: 10px;" id="save">Add ticket</button>

        </div>

    </div>

</div>

<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>

<script>

    $(function () {
        let date = new Date();
        let dateField = $('#date');
        dateField.empty();
        dateField.append(`${date.toLocaleDateString()} ${date.toLocaleTimeString()}`);
        
        $('#save').click(function (e) {
            e.preventDefault();
            $.ajax({
                type: 'POST',
                url: `/create-ticket`,
                dataType: 'json',
                data: JSON.stringify({
                    title: $('#title').text(),
                    bodyText: $('#body-text').text(),
                    state: $('#state').val(),
                    priority: $('#priority').val(),
                    caseType: $('#case').val(),
                    firm: $('#firm').text()
                }),
                beforeSend: function (xhr) {
                    xhr.setRequestHeader('Content-Type', 'application/json');
                },
                success: function (response) {
                    console.log(response);
                }
            })
        });
    });

</script>

</body>

</html>