<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link href="../styles.css" rel="stylesheet"/>
    <link href="../static/styles.css" rel="stylesheet"/>

    <title>Pool</title>

</head>

<body>

<div class="container">

    <div class="sidebar">
        <div class="sidebar-member workspace-label"><span class="sidebar-member-icon">📚</span>Workspace Name</div>
        <div class="sidebar-member chosen"><a href="/pool"><span class="sidebar-member-icon">🚨</span><span
                class="sidebar-member-label">Support Pool</span></a></div>
        <div class="sidebar-member" th:if="${#authorization.expression('hasAuthority(''VIEW_ADMIN'')')}"><a href="/team"><span class="sidebar-member-icon">🤝</span><span
                class="sidebar-member-label">Team</span></a></div>
        <div class="sidebar-member"><a href="/login"><span class="sidebar-member-icon">🔑</span><span
                class="sidebar-member-label">Login</span></a></div>
        <div class="sidebar-user-label">
            <div class="sidebar-member"><span class="sidebar-member-icon">👋</span><span
                    class="sidebar-member-label">Hi, User Name</span></div>
        </div>
    </div>

    <div class="frame">

        <div class="sub-container">

            <div class="sub-container-title">🚨 Support Pool</div>

            <div class="top-toolbar">
                <form id="filter">
                    <input name="query" placeholder="Query">
                    <select name="select">
                        <option selected th:value="title">Title</option>
                        <option th:value="state">State</option>
                        <option th:value="priority">Priority</option>
                        <option th:value="case">Case</option>
                        <option th:value="firm">Firm</option>
                    </select>
                    <button type="submit">Filter</button>
                </form>
            </div>

            <table class="table">
                <thead>
                <tr>
                    <th>🔖 Title</th>
                    <th>📌 State</th>
                    <th>📈 Priority</th>
                    <th>🧷 Case</th>
                    <th>🏷 Firm</th>
                    <th>📆 Created</th>
                    <th></th>
                </tr>
                </thead>
                <tbody id="tickets-grid">
                </tbody>
            </table>

            <div class="bottom-toolbar">
                <button>Add</button>
            </div>

        </div>

    </div>

</div>

<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>

<script>

    $(function() {

        $.ajax({
                url: '/tickets',
                success: (response) => (fillTicketGrid(response))
            }
        )

        $('#filter').submit(function (e) {
            e.preventDefault();
            $.ajax({
                type: 'POST',
                url: '/filterTickets',
                dataType: 'json',
                data: JSON.stringify({
                    query: $(this).find('[name=query]').val(),
                    property: $(this).find('[name=select]').val()
                }),
                beforeSend: function (xhr) {
                    xhr.setRequestHeader('Content-Type', 'application/json');
                },
                success: function (response) {
                    fillTicketGrid(response);
                }
            })
        });

    })

    function fillTicketGrid(data) {
        let $ticketGrid = $('#tickets-grid');
        $ticketGrid.empty();
        data.forEach(ticket => {
            $.ajax({
                    url: '/tickets',
                    success: () => {
                        let date = new Date(ticket.creationDate);
                        $ticketGrid.append('<tr>' +
                            '<td>' + ticket.title + '</td>' +
                            '<td>' + ticket.state + '</td>' +
                            '<td>' + ticket.priority + '</td>' +
                            '<td>' + ticket.caseType + '</td>' +
                            '<td>' + ticket.firm + '</td>' +
                            '<td>' + `${date.toLocaleDateString()} ${date.toLocaleTimeString()}` + '</td>' +
                            '<td><button onclick="openTicket(' + ticket.id + ')" class="grid-button">Open</button></td></tr>');
                    }
                }
            )
        })
    }

    function openTicket(id) {
        $.ajax({
            type: 'GET',
            url: `/getTicket/${id}`,
            dataType: 'json',
            success: function(response) {
                window.location.href = window.location.origin + `/ticket/${id}`;
                console.log(response);
            }
        })
    }

</script>

</body>
</html>