<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link href="../styles.css" rel="stylesheet"/>
<!--    <link href="../static/styles.css" rel="stylesheet"/>-->

    <title>Team</title>

</head>

<body>

<div class="container">

    <div class="sidebar">
        <div class="sidebar-member workspace-label" th:if="${#authorization.expression('isFullyAuthenticated()')}"><span
                class="sidebar-member-icon">📚</span>Workspace
        </div>
        <a href="/pool">
            <div class="sidebar-member" th:if="${#authorization.expression('isFullyAuthenticated()')}"><span
                    class="sidebar-member-icon">🚨</span><span
                    class="sidebar-member-label">Support Pool</span></div>
        </a>
        <a
                href="/team">
            <div class="sidebar-member chosen" th:if="${#authorization.expression('hasAuthority(''VIEW_ADMIN'')')}"><span
                    class="sidebar-member-icon">🤝</span><span
                    class="sidebar-member-label">Team</span></div>
        </a>
        <a href="/login">
            <div class="sidebar-member"><span class="sidebar-member-icon">🔑</span><span
                    class="sidebar-member-label">Login</span></div>
        </a>
        <div class="sidebar-user-label">
            <div class="sidebar-member"><span class="sidebar-member-icon">👋</span><span
                    class="sidebar-member-label">Hi, <span class="username"></span></span></div>
        </div>
    </div>

    <div class="frame">

        <div class="sub-container">

            <div class="sub-container-title">🤝 Team</div>

            <div class="top-toolbar">
                <form id="filter">
                    <input name="query" placeholder="Query">
                    <select name="select">
                        <option selected th:value="login">Login</option>
                        <option th:value="permission">Permission</option>
                    </select>
                    <button type="submit">Filter</button>
                </form>
            </div>

            <table class="table">
                <thead>
                <th>🔖 Login</th>
                <th>🎭 Role</th>
                <th></th>
                </thead>
                <tbody id="users-table">
                </tbody>
            </table>

            <div class="bottom-toolbar">
                <form id="create-user">
                    <input name="login" placeholder="Login">
                    <input name="password" type="password" placeholder="Password">
                    <select name="permissions">
                        <option th:value="1">Administrator</option>
                        <option selected th:value="2">Support</option>
                        <option th:value="3">Sales</option>
                    </select>
                    <button type="submit">Create</button>
                </form>
            </div>

        </div>

    </div>

</div>

<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>

<script>

    $(function () {

        $.ajax({
                url: '/getLogin',
                success: (response) => (fillLogin(response)),
                error: () => fillLogin("Stranger")
            }
        )

        $.ajax({
                url: '/getUsers',
                success: (response) => (fillUsersTable(response))
            }
        )

        $('#create-user').submit(function (e) {
            e.preventDefault();
            $.ajax({
                type: 'POST',
                url: `/createUser/${Number($(this).find('[name=permissions]').val())}`,
                dataType: 'json',
                data: JSON.stringify({
                    login: $(this).find('[name=login]').val(),
                    password: $(this).find('[name=password]').val()
                }),
                beforeSend: function (xhr) {
                    xhr.setRequestHeader('Content-Type', 'application/json');
                },
                success: function () {
                    $.ajax({
                            url: '/getUsers',
                            success: (response) => (fillUsersTable(response))
                        }
                    )
                }
            })
        });

        $('#filter').submit(function (e) {
            e.preventDefault();
            $.ajax({
                type: 'POST',
                url: '/filterUsers',
                dataType: 'json',
                data: JSON.stringify({
                    query: $(this).find('[name=query]').val(),
                    property: $(this).find('[name=select]').val()
                }),
                beforeSend: function (xhr) {
                    xhr.setRequestHeader('Content-Type', 'application/json');
                },
                success: function (response) {
                    fillUsersTable(response);
                }
            })
        });

    })

    function fillUsersTable(data) {
        let $users = $('#users-table');
        $users.empty();
        data.forEach(user => {
            let permissions = "";
            for (let permission of user.permissions) {
                switch (permission.permission) {
                    case "VIEW_ADMIN":
                        permissions += "👓 Administrator"
                        break;
                    case "VIEW_SUPPORT":
                        permissions += "🚨 Support team member"
                        break;
                    case "VIEW_SALES":
                        permissions += "💵 Sales team member"
                        break;
                }
            }
            $.ajax({
                    url: '/getLogin',
                    success: (response) => {
                        $users.append();
                        if (!(response === user.login))
                            $users.append('<tr><td>' + user.login + '</td><td>' + permissions + '</td><td><button onclick="removeUser(' + user.id + ')" class="grid-button">Remove</button></td></tr>');
                        else
                            $users.append('<tr><td>' + user.login + '</td><td>' + permissions + '</td><td><button disabled onclick="removeUser(' + user.id + ')" class="grid-button disabled-button">🔒</button></td></tr>');
                    }
                }
            )
        })
    }

    function removeUser(id) {
        $.ajax({
            type: 'DELETE',
            url: `removeUser/${id}`,
            dataType: 'json',
            success: function (response) {
                fillUsersTable(response);
            }
        });
    }

    function fillLogin(data) {
        let $login = $('.username');
        let $loginIcon = $('.login-icon');
        $login.empty();
        $loginIcon.empty();
        data === "Stranger" ? $loginIcon.append("🔐") : $loginIcon.append("🔓");
        $login.append(data);
    }

</script>

</body>

</html>