<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link href="../styles.css" rel="stylesheet"/>
    <link href="../static/styles.css" rel="stylesheet"/>

    <title>Ticket</title>

</head>

<body>

<div class="container">

    <div class="sidebar">
        <div class="sidebar-member workspace-label"><span class="sidebar-member-icon">📚</span>Workspace Name</div>
        <div class="sidebar-member"><a href="#"><span class="sidebar-member-icon">🚨</span><span
                class="sidebar-member-label">Support Pool</span></a></div>
        <div class="sidebar-member" th:if="${#authorization.expression('hasAuthority(''VIEW_ADMIN'')')}"><a
                href="#"><span class="sidebar-member-icon">🤝</span><span
                class="sidebar-member-label">Team</span></a></div>
        <div class="sidebar-member"><a href="#"><span class="sidebar-member-icon">🔑</span><span
                class="sidebar-member-label">Login</span></a></div>
        <div class="sidebar-user-label">
            <div class="sidebar-member"><span class="sidebar-member-icon">👋</span><span
                    class="sidebar-member-label">Hi, User Name</span></div>
        </div>
    </div>

    <div class="frame">

        <div class="sub-container">

            <div class="sub-container-title">🎫 Ticket</div>

            <div class="properties-holder">

                <div class="property">
                    <div class="property-name"><span class="property-icon">🔖</span>Title</div>
                    <div id="title" contenteditable="true" spellcheck="false"
                         class="property-value text-property" th:text="${ticket.title}"></div>
                </div>

                <div class="property">
                    <div class="property-name"><span class="property-icon">⚖</span>State</div>
                    <div class="property-value select-property">
                        <select id="state">
                            <option value="0">New</option>
                            <option value="1">Open</option>
                            <option value="2">Done</option>
                            <option value="3">Solved</option>
                        </select>
                    </div>
                </div>

                <div class="property">
                    <div class="property-name"><span class="property-icon">📌</span>Priority</div>
                    <div class="property-value select-property">
                        <select id="priority">
                            <option value="0">High</option>
                            <option value="1">Normal</option>
                            <option value="2">Low</option>
                        </select>
                    </div>
                </div>

                <div class="property">
                    <div class="property-name"><span class="property-icon">🔗</span>Firm</div>
                    <div id="firm" contenteditable="true" spellcheck="false" class="property-value text-property"></div>
                </div>

                <div class="property">
                    <div class="property-name"><span class="property-icon">📨</span>Requester</div>
                    <div class="property-value select-property">
                        <select id="requester">
                        </select>
                    </div>
                </div>

                <div class="property">
                    <div class="property-name"><span class="property-icon">✏</span>Responsible</div>
                    <div class="property-value select-property">
                        <select id="responsible">
                        </select>
                    </div>
                </div>

                <div class="property">
                    <div class="property-name"><span class="property-icon">📮</span>Case</div>
                    <div class="property-value select-property">
                        <select id="case">
                            <option value="0">Bug</option>
                            <option value="1">Question</option>
                            <option value="2">Feature</option>
                            <option value="3">Call</option>
                        </select>
                    </div>
                </div>

                <div class="property">
                    <div class="property-name"><span class="property-icon">📆</span>Creation Date</div>
                    <div id="date" contenteditable="true" spellcheck="false" class="property-value text-property"></div>
                </div>

            </div>

            <div class="ticket-content-holder">
                <span id="body-text" class="highlight">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
                reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
                occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </span>
            </div>
            <button style="margin-top: 10px;">Save</button>

            <div id="comments-holder" class="comments-holder">
                <div class="comment">
                    <div class="comment-timestamp">11/02/2020 13:12</div>
                    <div class="comment-author">mhalaida</div>
                    <div class="comment-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                        exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
                        reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
                        occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    </div>
                </div>
                <div class="comment">
                    <div class="comment-timestamp">11/02/2020 13:58</div>
                    <div class="comment-author">illia</div>
                    <div class="comment-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                        exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
                        reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
                        occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    </div>
                </div>

                <div class="comment">
                    <textarea class="new-comment-textarea"></textarea>
                    <button style="margin-top: 10px;">Add Comment</button>
                </div>
            </div>

        </div>

    </div>

</div>

</body>

</html>